@model Department
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add</h2>
@using (@Html.BeginForm())
{
    <div class="form-group">
        <label>Name :</label>
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>

    <br />
    <br />
    <input type="submit" class="btn btn-primary">
    <a href="List" class="btn btn-success"> Back To List</a>

}